<a href="https://colab.research.google.com/github/isam-19/Construccion-ManipulacionDeDatos/blob/main/CONSTRUCCI%C3%93N_Y_MANIPULACI%C3%93N_DE_CONJUNTOS_DE_DATOS_UNIDAD_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# APRENDE Y MEJORA CONSTRUCCIÓN Y MANIPULACIÓN DE CONJUNTOS DE DATOS UNIDAD 1
# María Isabel Marín Henao

In [5]:

# 1. Preparación del entorno
import pandas as pd
import numpy as np

# 2. Carga del Dataset
df = pd.read_csv("activity2_dataset.csv")

# Mostrar las primeras filas
print("Vista previa del dataset original:")
print(df.head())

# 3. Revisión y corrección de columnas numéricas con posibles errores
cols_numericas = ['edad', 'ingresos', 'numero de hijos']

# Asegurarse de que las columnas sean numéricas y limpiar valores negativos
for col in cols_numericas:
    # Convertimos todo a números (lo que no se puede convertir se vuelve NaN)
    df[col] = pd.to_numeric(df[col], errors='coerce')
    # Reemplazamos negativos por NaN
    df[col] = df[col].apply(lambda x: np.nan if pd.notnull(x) and x < 0 else x)

# 4. Imputación de valores faltantes usando la mediana
for col in cols_numericas:
    mediana = df[col].median()
    df[col].fillna(mediana, inplace=True)

# 5. Limpieza y estandarización de la columna 'estado_civil'

# Mostrar valores únicos antes
print("\nValores únicos en 'estado_civil' antes de limpiar:")
print(df['estado civil'].unique())

# Unificar escritura
mapa_estado_civil = {
    'Soltero': 'Soltero',
    'soltero': 'Soltero',
    'Casado': 'Casado',
    'casado': 'Casado',
    'Divorciado': 'Divorciado',
    'divorciado': 'Divorciado',
    'viudo': 'Viudo',
    'Viudo': 'Viudo'
}

# Aplicar mapeo
df['estado civil'] = df['estado civil'].map(mapa_estado_civil)

# Mostrar valores únicos después
print("\nValores únicos en 'estado civil' después de estandarizar:")
print(df['estado civil'].unique())

# 6. Ajuste de tipos de datos
df['edad'] = df['edad'].astype(int)
df['numero de hijos'] = df['numero de hijos'].astype(int)
df['ingresos'] = df['ingresos'].astype(float)
df['estado civil'] = df['estado civil'].astype('category')

# 7. Revisión final
print("\nVista previa del dataset limpio:")
print(df.head())

print("\nEstructura del dataset:")
print(df.info())

# 8. Exportar el dataset limpio
df.to_csv("activity2_dataset_limpio.csv", index=False)
print("\n Dataset limpio guardado como 'activity2_dataset_limpio.csv'")

Vista previa del dataset original:
   edad sexo estado civil  numero de hijos  ingresos  estrato social
0  25.0    M      Soltero              0.0    3000.0             3.0
1  34.0    F       Casado              2.0    5000.0             2.0
2   NaN    f          NaN              1.0    4500.0             NaN
3  29.0    M      soltero              3.0       NaN             1.0
4  45.0    m   divorciado              NaN    3200.0             4.0

Valores únicos en 'estado_civil' antes de limpiar:
['Soltero' 'Casado' nan 'soltero' 'divorciado' 'casado']

Valores únicos en 'estado civil' después de estandarizar:
['Soltero' 'Casado' nan 'Divorciado']

Vista previa del dataset limpio:
   edad sexo estado civil  numero de hijos  ingresos  estrato social
0    25    M      Soltero                0    3000.0             3.0
1    34    F       Casado                2    5000.0             2.0
2    32    f          NaN                1    4500.0             NaN
3    29    M      Soltero                3    4000.0             1.0
4    45    m   Divorciado                1    3200.0             4.0

Estructura del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   edad             10 non-null     int64
 1   sexo             9 non-null      object
 2   estado civil     8 non-null      category
 3   numero de hijos  10 non-null     int64
 4   ingresos         10 non-null     float64
 5   estrato social   8 non-null      float64
dtypes: category(1), float64(2), int64(2), object(1)
memory usage: 674.0+ bytes
None

✅ Dataset limpio guardado como 'activity2_dataset_limpio.csv'

<ipython-input-5-09b25b91df5c>:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)

# Sección nueva